---
import { Image } from 'astro:assets'
import GithubLink from './GithubLink.astro'
import ProjectLink from './ProjectLink.astro'

type Props = {
    src: string
    alt: string
    githubLink?: string
    projectLink?: string
    localLink?: string
    title: string
    description: string
    year: string
}

const {
    src,
    alt,
    description,
    title,
    githubLink,
    projectLink,
    localLink,
    year,
} = Astro.props
---

<div
    class="flex relative flex-col md:flex-row h-full rounded-xl shadow-lg shadow-slate-950"
>
    <div
        class="relative md:rounded-r-none rounded-b-none rounded-xl md:rounded-l-xl overflow-hidden"
    >
        <div class="absolute bottom-1 left-1 flex gap-2 items-center z-10">
            <GithubLink githubLink={githubLink} />
            <ProjectLink projectLink={projectLink} />
        </div>
        {
            src ? (
                <a href={localLink}>
                    <Image
                        src={src}
                        alt={alt}
                        width={932}
                        height={910}
                        class={`ease-in-out duration-500 hover:scale-125 object-cover  md:w-[80vw] md:h-full`}
                        decoding="async"
                        format="avif"
                    />
                </a>
            ) : (
                <slot />
            )
        }
        <div
            class="absolute bottom-2 right-2 rounded-xl bg-gray-200 dark:bg-slate-800 p-1"
        >
            {year}
        </div>
    </div>

    <div
        class="flex justify-center flex-col p-4 pb-16 lg:px-4 lg:py-0 gap-y-2 w-full"
    >
        <h1 class="text-xl font-bold">
            <a href={localLink}>
                {title}
            </a>
        </h1>
        <span>
            {description}
        </span>
    </div>

    <a
        href={localLink}
        class="absolute bottom-3 right-3 rounded-xl p-2 bg-gray-200 dark:bg-slate-900 shadow-lg w-fit whitespace-nowrap self-end"
    >
        More Details</a
    >
</div>
