---
import GithubLink from './GithubLink.astro'
import Heading from './Heading.astro'
import ProjectLink from './ProjectLink.astro'
import Skill from './Skill.astro'
import type { StackItem } from './stack'

import { Image } from 'astro:assets'

type Props = {
    title: string
    skills: StackItem[]
    context: string
    maintenance: string
    githubLink?: string
    projectLink?: string
    description: string
    imageSrcFirst: string
    imageSrcSecond?: string
}

const {
    skills,
    title,
    githubLink,
    projectLink,
    context,
    description,
    maintenance,
    imageSrcFirst,
    imageSrcSecond,
} = Astro.props
---

<div class="flex flex-col gap-y-2">
    <Heading>{title}</Heading>
    <div class="flex flex-col-reverse md:flex-row gap-4 justify-between">
        <div class="flex flex-col gap-4">
            <h2
                class="text-2xl font-bold underline decoration-blue-500 underline-offset-8"
            >
                Context
            </h2>
            <span>{context}</span>
            <h2
                class="text-2xl font-bold underline decoration-blue-500 underline-offset-8"
            >
                Maintenance
            </h2>
            <span class="bg-blue-500 rounded-xl p-1 w-fit">{maintenance}</span>

            <h2
                class="text-2xl font-bold underline decoration-blue-500 underline-offset-8"
            >
                Sources
            </h2>
            <div class="flex gap-2">
                <GithubLink githubLink={githubLink} />
                <ProjectLink projectLink={projectLink} />
            </div>
        </div>

        <Image
            src={imageSrcFirst}
            alt="Event Wizard User Screenshot"
            width={932}
            height={910}
            class={`rounded-xl max-w-[90vw] md:max-w-[70vw]`}
            decoding="async"
            format="avif"
            loading="lazy"
        />
    </div>

    <div class="space-y-4">
        <h2
            class="text-2xl font-bold underline decoration-blue-500 underline-offset-8"
        >
            Main Technologies used
        </h2>

        <div class="flex gap-3 flex-wrap">
            {skills.map((item) => <Skill item={item} />)}
        </div>
    </div>

    <div
        class="to-blue-500 from-white dark:from-slate-800 dark:to-blue-400 bg-gradient-to-r pt-2 mt-4 rounded-full w-1/2"
    >
    </div>
    <span
        >{
            description.split('<br/>').map((entry, idx) => (
                <>
                    <span>
                        {entry}
                        <br />
                        <br />
                    </span>
                    {idx === 1 && imageSrcSecond && (
                        <Image
                            src={imageSrcSecond}
                            alt="Screenshot"
                            width={932}
                            height={910}
                            class={`rounded-xl self-center mb-4 max-w-[90vw] md:max-w-[70vw]`}
                            decoding="async"
                            format="avif"
                            loading="lazy"
                        />
                    )}
                </>
            ))
        }</span
    >
</div>
