---
import { Image } from 'astro:assets'

type Props = {
    src: string
    alt: string
    githubLink?: string
    projectLink?: string
    localLink?: string
    title: string
    description: string
    year: string
}

const {
    src,
    alt,
    description,
    title,
    githubLink,
    projectLink,
    localLink,
    year,
} = Astro.props
---

<div
    class="flex relative flex-col md:flex-row h-full rounded-xl shadow-lg shadow-slate-950"
>
    <div class="relative">
        <div class="absolute bottom-1 left-1 flex items-center">
            {
                githubLink && (
                    <a href={githubLink}>
                        <img
                            src="/images/stack/github.svg"
                            alt={`Github Link to Project ${githubLink}`}
                            class:list={[
                                'h-9 w-9 invert bg-slate-950 rounded-full',
                            ]}
                        />
                    </a>
                )
            }

            {
                projectLink && (
                    <a href={projectLink}>
                        <img
                            src="/images/icons/link.svg"
                            alt={`Link to Project ${projectLink}`}
                            class:list={[
                                'h-9 w-9 rounded-full bg-white invert p-1',
                            ]}
                        />
                    </a>
                )
            }
        </div>
        {
            src ? (
                <a href={localLink}>
                    <Image
                        src={src}
                        alt={alt}
                        width={932}
                        height={910}
                        class={`rounded-xl md:rounded-r-none rounded-b-none md:rounded-b-xl md:max-w-[40vw] md:h-full`}
                        decoding="async"
                        format="avif"
                        loading="lazy"
                    />
                </a>
            ) : (
                <slot />
            )
        }
        <div
            class="absolute bottom-2 right-2 rounded-xl bg-gray-200 dark:bg-slate-800 p-1"
        >
            {year}
        </div>
    </div>

    <div
        class="flex sef-center flex-col p-4 pb-16 lg:px-4 lg:py-0 gap-y-2 w-full"
    >
        <h1 class="text-xl font-bold">
            <a href={localLink}>
                {title}
            </a>
        </h1>
        <span>
            {description}
        </span>
    </div>

    <a
        href={localLink}
        class="absolute bottom-3 right-3 rounded-xl p-2 bg-gray-200 dark:bg-slate-900 shadow-lg w-fit whitespace-nowrap self-end"
    >
        More Details</a
    >
</div>
